<form action="{:url('setlang')}" method="post" class="definewidth m10" style="margin-left:0px;" enctype="multipart/form-data">
<input name="id" id="id" type="hidden" value="{$lang_id}">
<input name="type" id="type" type="hidden" value="{$type}">
  <table class="table table-bordered table-hover definewidth m10">
    <tr>
      <td width="10%" class="tableleft">参数名</td>
      <td>参数值</td>
      <td>参数说明</td>
    </tr>
  {volist name="set_lang_list" id="vo" }
    <tr>
      <td width="10%" class="tableleft">{$vo.field}</td>
      <td><input type="text" name="{$vo.field}_field" id="{$vo.field}_field" value="{$vo.value|stripcslashes}"  class="form-control w30"/></td>
      <td><input type="text" name="{$vo.field}_alisa" id="{$vo.field}_alisa" value="{$vo.alisa}"  class="form-control w30"/></td>
    </tr>
	{/volist} 
    <tr>
      <td class="tableleft"></td>
      <td><button class="btn btn-primary" type="submit" id="submit_form"> <i class="ace-icon fa fa-check bigger-110"></i> 保存 </button>&nbsp;&nbsp;
         <button class="btn" type="reset" id="btn_reset" onclick="history.go(-1)"> <i class="ace-icon fa fa-undo bigger-110"></i> 返回 </button></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
