{load href="__STATIC__/ace/css/bootstrap.min.css,__STATIC__/ace/font-awesome/4.5.0/css/font-awesome.min.css,__STATIC__/ace/css/ace.min.css,__STATIC__/ace/css/ace-rtl.min.css,__STATIC__/ace/css/ace-skins.min.css,__STATIC__/ace/js/ace-extra.min.js" /}
<!--[if !IE]> -->
<script src="__STATIC__/ace/js/jquery-2.1.4.min.js"></script>
 <!-- <![endif]-->
 <!--[if IE]>
<script src="__STATIC__/ace/js/jquery-1.11.3.min.js"></script>
<![endif]--> 
<!--[if lte IE 9]>
{css href="__STATIC__/ace/css/ace-part2.min.css,__STATIC__/ace/css/ace-ie.min.css" /}
{js href="__STATIC__/ace/js/html5shiv.min.js,__STATIC__/ace/js/respond.min.js"}
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" href="__STATIC__/ace/css/font-awesome-ie7.min.css" />
<![endif]-->
{include file="common:layer" /}
<script type="text/javascript">
var __updatesort__="{:url('jzadmin/Ajax/updatesort')}";
var __setStatus__="{:url('jzadmin/Ajax/setStatus')}";
</script>
{css href="__STATIC__/css/jzadmin/style.css" /}
 
