<div class="page-header" style="border-bottom:none; margin:0">
 <form action="{:url('index')}" method="post" name="form" class="form-inline definewidth m10">
 <input name="keyword" type="text"   value="{$keyword|default=''}" placeholder="邮箱/昵称/手机号码"  class="form-control search_text">
    <select name="status"  class="select form-control search_select">
     <option value="">状态</option>
    <option value="0"  {if condition="isset($status) and $status eq 0"} selected="selected" {/if}>禁用</option>
    <option value="1"  {if condition="isset($status) and $status eq 1"} selected="selected" {/if}>启用</option>
  </select>
   <select name="level_id"   class="select form-control search_select">
     <option value="">会员等级</option>
     {volist name="user_level" id="vo"}
    <option value="{$vo.id}"  {if condition="isset($level_id) and $level_id eq $vo['id']"} selected="selected" {/if}>{$vo.level_name|default=''}</option>
    {/volist}
  </select>
     <button name="btn" type="submit" class="btn btn-primary btn-sm"><i class="ace-icon fa fa-search align-middle bigger-125"></i> 查 询</button>
  </form>
</div>
<table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
  <thead>
    <tr>
    <th width="3%"><label class="pos-rel">
              <input type="checkbox" class="ace">
              <span class="lbl"></span> </label></th>
      <th width="5%">ID</th>
      <th width="10%">昵称</th>
      <th width="12%">等级</th>
       <th width="16%">邮箱</th>
      <th width="10%">手机</th>
      <th width="10%">积分</th> 
      <th width="7%">状态</th>
      <th width="15%">注册日期</th>
      <th width="10%">操作</th>
    </tr>
  </thead>
  <tbody>
  
  {volist name="list" id="vo" key="k"}
  <tr id="{$vo.uid}">
    <td align="center">    <label class="pos-rel">
              <input type="checkbox" class="ace" name="ids[]"  value="{$vo.uid}">
              <span class="lbl"></span> </label></td>
    <td align="center"> {$vo.uid}</td>
    <td align="left">{$vo.nickname}</td>
    <td align="left">{$vo.level_info.level_name|default=''}</td>
        <td align="left">{$vo.email}</td>
    <td align="left">{$vo.mobile}</td>
    <td align="left">{$vo.score|default=0}</td>

    <td align="left"><a href="javascript:void(0)" class="opStatus_user" val="{$vo.status}">{if condition="$vo['status'] eq 1"}启用
      {else /} <span class="red">禁用</span>{/if}</a></td>
    <td align="left">{$vo.reg_time|getFormatTime}</td>
    <td align="left"><a href="{:url('edit',array('uid'=>$vo['uid']))}"  data-rel="tooltip" data-original-title="修改"> 修改</a> 
    | <a href="{:url('Order/index',array('uid'=>$vo['uid']))}"  data-rel="tooltip" data-original-title="订单">订单</a> 
    </td>
  </tr>
  {/volist}
  {if condition="isset($page)&&trim($page) neq '' "}
  <tr bgcolor="#FFFFFF">
    <td colspan="11" align="right"><div class="dataTables_paginate paging_simple_numbers">{$page}</div></td>
  </tr>
  {/if}
    </tbody>
  
</table>
<script type="text/javascript">
var _MODEL_TABLE_="user";
var _CACHE_NAME_="";
</script>